<%= form_for(apartamento) do |f| %>
  <% if apartamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(apartamento.errors.count, "error") %> prohibited this apartamento from being saved:</h2>

      <ul>
      <% apartamento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :torre %>
    <%= f.text_field :torre %>
  </div>

  <div class="field">
    <%= f.label :piso %>
    <%= f.text_field :piso %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
