<p id="notice"><%= notice %></p>

<h1>Apartamentos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Torre</th>
      <th>Piso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apartamentos.each do |apartamento| %>
      <tr>
        <td><%= apartamento.nombre %></td>
        <td><%= apartamento.torre %></td>
        <td><%= apartamento.piso %></td>
        <td><%= link_to 'Show', apartamento %></td>
        <td><%= link_to 'Edit', edit_apartamento_path(apartamento) %></td>
        <td><%= link_to 'Destroy', apartamento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Apartamento', new_apartamento_path %>
